html {
  scroll-behavior: smooth;
  font-style: italic;
}

.intro {
  color: rgb(10,112,233);
}

h1 {
  color: rgb(10,112,233);
}


h4 {
  color: rgb(10,112,233);
}

h5 {
  color: rgb(10,112,233);
}

#status-text {
  margin-top: 10px;
  color: green;
}

.disabled{
  pointer-events: none;
  background-color: grey;
}

.container {
  margin-top: 5rem;
}

footer {
  margin-top: 40px;
  background-color:#ffffff;
  color:#4b4c4d;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.App-link {
  margin-left: 50px;
  text-decoration: none;
  color: rgb(95,95,95);
}

.App {
  scroll-behavior: smooth;
  font-style: italic;
}

.dropdown {
  margin-top: 20px;
}

.collab-email {
  width: 20vw;
  font-style: italic;
}

.italic {
  font-style: italic;
}




.solid {
  width: 230px;
  border-top: 2px solid rgb(84, 84, 84);
}

#collab-message {
  margin-top: 20px;
  width: 20vw;
  height: 21.25vh;
  font-style: italic;
}

a {
  text-decoration: none;
  color:rgb(95, 95, 95);
}

.card {
  width: 230px;
}

.backEndCardPhoto {

}

.card {
  border: rgb(10,112,233) 1px solid;
  box-shadow: 0 8px 8px -2px lightblue;
}


.footer-text {
  text-decoration: none;
  margin-left: 10px;
  font-style: bold;
}

.tbd {
  width: 230px;
  height: 200px;
}

.arrow-left {
  color: rgb(10,112,233);
  font-size: 10rem;
}

.arrow-right {
  color: rgb(10,112,233);
  font-size: 10rem;
}

p {
  color:rgb(95, 95, 95);
  font-size: large;
}

.header-text {
  margin-bottom: 5rem;
}

h6{
  text-decoration: none;

}

.row {
  margin-top: 100px;
}



.custom-link:hover {
  color: darkblue;
}

.pic-projects {
  box-shadow: 0 8px 8px -2px lightblue;
  border-radius: 10px;
}

.pic-featured-projects {
  margin-top: -40px;
  box-shadow: 0 8px 8px -2px lightblue;
  border-radius: 10px;
}

.pic-background {
  background-color: rgb(241, 246, 255);
  border-radius: 5px;
}

.required {
  color: rgb(10,112,233);
  font-size: 1.1rem;
  font-weight: 500;
}

.techpics-row {
  display: flex;
  justify-content: center;
}

.techpics {
  margin-left: 5rem;
}

.header-duo {
  margin-top: 20px;
  margin-bottom: -30px;
  display: flex;
  align-items: center;
}

.nav {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
  color: rgb(10,112,233);
  
}

.subtext {
  margin-right: 50px;
  color: rgb(95, 95, 95);
  margin-left: 0.5rem;
  margin-top: 0.6rem;
  text-decoration: none;
}

.navtext {
  margin-left: 50px;
  text-decoration: none;
  color: rgb(10,112,233);
}

.submit-btn {
  margin-top: 20px;
  border-radius: 4px;
}


